body{
    background: #f2f2f2;
    margin: 0;
    padding: 0;
    font-family: 'Poppins' sans-serif;
    scroll-behavior: smooth;
}
:root{
    --priamry-color:#007af3;
}
a{
    text-decoration: none;
    font-size: 1.3rem;
}
.hero-img{
    background: url(../images/slide3.JPG);
    position: absolute;
    top: 0;
    left: 0;
    background-size: cover;
    background-position-x: 20%;
    background-position-y: 20%;
    height: 100vh;
    width: 100%;
    z-index: -1;
    animation: introLoad 3s forwards;
}
nav{
    position: fixed;
    right: 0;
    top: 0;
    background-color: white;
    height: 100vh;
    width: 50%;
    z-index: 999;
    text-transform: uppercase;
    transform: translateX(100%);
    transition: transform .5s ease-in-out;
    ul{
        list-style-type: none;
        padding: 0;
        margin-top: 7em;
        a{
            color: black;
            padding: .75em 2em;
            display: block;
            &:hover{
                background-color: grey;
            }
        }
    }
    .close{
        float: right;
        margin: 2em;
        width: 2.5em;
    }
}
nav.menu-btn{
    transform: translatex(0);
}
header{
    margin: 1.5em;
    display: flex;
    justify-content: space-between;
    background-color: rgba(146, 140, 132, 0.9);
    border-radius: 10px;
    position: sticky;
    top: 0;
    z-index: 999;
    svg{
        width: 2.1em;
        cursor: pointer;
    }
    img{
        height:5vh;
    }
    .logo{
        font-weight: bold;
        font-size: 1rem;
        color: black;
        position: relative;
        bottom: 9px;
        padding-left: .5em;
        span{
            color: blue;
        }

    }
}

section.hero{
    margin: 0 1.5em;
    height: 70vh;
    animation: moveDown 2s ease-in-out forwards;
    .cont{
        background-color: rgba(27, 25, 25, 0.3);
        border-radius: 30px;
    }
    h1{
        font-size: 2.3rem;
        margin-top: 3em;
        line-height: 3.3rem;
        color: white;
    }
    .subhead{
        font-size: 1.4rem;
        color: white;
    }
    .down-arrow{
        stroke: white;
        position: absolute;
        bottom: 3em;
        width: 1em;
        animation: moveArrow 1s alternate-reverse infinite;
        path{
            fill: white;
        }
    }
}
section.history{
    margin: 0;
    background-color: #007af3;
    padding: 10px;
    div{
        margin: 20px;
        h1{
            text-align: center;
            color: white;
        }
    }
}
section#principal{
    color: white;
    .prin{
        background-color: #20272E;
        border-radius: 2em;
        width: 80%;
        height: auto;
        text-align: center;
        margin: 3.5em auto 2em auto;
        padding: 2em 1em;
    }
    img{
        width: 7em;
        height: 7em;
        margin-top: -4.5em;
    }
}
section#miss{
    background-color: rgba(27, 25, 25, 0.3);
    margin: 0;
    .part{
        margin: 2em;
        padding: 5px;
        color: #f2f2f2;

        h1{
            color: #20272E;
            text-align: center;
            font-size: 1.8em;
        }

    }
}
section#curriculum{
    background-color: #20272E;
    color: white;
    margin-top: -32px;
    h1{
        color: white;
        font-size: 1.8em;
    }
    div{
        margin: 20px;
        padding: 20px;
        ul{
            margin: 0;
            padding-left: .1em;
            display: grid;
            grid-template-columns: repeat(autofit, minmax(19rem,1fr));
            li{
                font-size: 1.1em;
                margin-bottom: 1em;
                margin-left: 2em;
                position: relative;
                &:before{
                    content: '';
                    height: 20px;
                    left: -1.5em;
                    background-image: url('../images/bullet.svg');
                    position: absolute;
                    width: 20px;
                    background-size: contain;
                    margin-right: .5em;
                    
                }
            }
        }
    }
}
section#facility{
    background-color: rgba(27, 25, 25, 0.3);
    margin-top: -20px;
    h1{
        margin: 10px;
        font-size: 1.8em;
        text-align: center;
        color: #20272E;
    }
    #slider{
        overflow: hidden;
        figure{
            position: relative;
            width: 500%;
            margin: 0;
            left: 0;
            animation: 20s slider infinite;
            img{
                width: 20%;
                height: auto;
                float: left;
            }
        }
    }

    @keyframes slider {
        0%{
            left: 0;
        }
        20%{
            left: 0;
        }
        25%{
            left: -100%;
        }
        45%{
            left: -100%;
        }
        50%{
            left: -200%;
        }
        70%{
            left: -200%;
        }
        75%{
            left: -300%;
        }
        95%{
            left: -300%;
        }
        100%{
            left: -400%;
        }
    }
    // img{
    //     width: 100%;
    //     height: auto;
    // }
}
section#events{
    background-color: rgba(27, 25, 25, 0.3);
    padding: 10px;
    height: auto;
    h1{
        text-align: center;
        color: #20272E;
        font-size: 1.8em;
    }

    .pic{
        img{
            width: 100%;
            height: auto;
            border-radius: 10px;
        }

    }
}
#footer{
    background-color: #20272E;
    color: white;
    text-align: center;
    padding: 10PX;
    cursor: default;
    .logo{
        color: white;
        position: relative;
        bottom: .3em;
        font-size: 1.8em;
        span{
            color: #007af3;
        }
    }
    img{
        height: 5vh;
    }
    h2{
        color: #007af3;
    }
    .text{
        a{
            color: white;
            font-size: 1em;
            padding: 10px;
            &:hover{
                color: red;
                text-decoration: underline;
                transition: .7s;
            }
        }

    }

    hr{
        width: 75%;
    }

}


#admission{
    text-align: center;
    h1{
        font-weight: bold;
        color: #014184;
        letter-spacing: 3px;
    }
    .grade{
        display: flex;
        flex-wrap: wrap;
        padding: 15px;
        color: white;
        .on{
            background: red;
            height: 100px;
            border-radius: 100%;
            text-align: center;
            width: 150px;
            margin: 10px;
            margin: auto;
            opacity: 0.7;
            h4{
                padding-top: 1.1em;
                font-weight: bold;
                letter-spacing: 3px;
                cursor: pointer;
                &:hover{
                    letter-spacing: .5em;
                    transition: 1s ease-in-out;
                }
            }
        }
        .tw{
            background: orange;
            height: 100px;
            border-radius: 100%;
            width: 150px;
            margin: 10px;
            margin: auto;
            opacity: 0.7;
            h4{
                padding-top: 1.1em;
                font-weight: bold;
                letter-spacing: 3px;
                
            }
        }
        .th{
            background: green;
            height: 100px;
            border-radius: 100%;
            width: 150px;
            margin: 10px;
            margin: auto;
            opacity: 0.7;
            h4{
                padding-top: 1.1em;
                font-weight: bold;
                letter-spacing: 3px;
            }
        }
        .fo{
            background: purple;
            height: 100px;
            border-radius: 100%;
            width: 150px;
            margin: 10px;
            margin: auto;
            opacity: 0.7;
            h4{
                padding-top: 1.1em;
                font-weight: bold;
                letter-spacing: 3px;
            }
        }
        .fi{
            background: blue;
            height: 100px;
            border-radius: 100%;
            width: 150px;
            margin: 10px;
            margin: auto;
            opacity: 0.7;
            h4{
                padding-top: 1.1em;
                font-weight: bold;
                letter-spacing: 3px;
            }
        }
    }
}

.gallery{
    text-align: center;
    h1{
        font-size: 1.8em;
        color: #20272E;
        font-weight: bold;
        padding-top: 20px;
    }
    .grid{
        display: grid;
        grid-template-columns: 50% 50%;
        gap: 7px;
        width: 98%;
        .pic{
            height: auto;
            img{
                width: 95%;
                height: auto;
                border-radius: 20px;
            }
        }
    }
    
}

#staffs{
    text-align: center;
    h1{
        font-weight: bold;
        color: #014184;
    }
    
    .pic{
        img{
            text-align: center;
            padding: 2em 1em;
            width: 80%;
            margin: 2em auto 2em auto;
            border-radius: 10px;
        }

        
    }
}

#calender{
    text-align: center;
    h1{
        font-size: 2em;
        color: #014184;
    }
    table{
        width: 100%;
        border: 1px solid black;
        th{
            border: 1px solid black;
        }
        td{
            border: 1px solid black;
        }
    }
}

@keyframes introLoad {
    from{
        clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
    }
    to{
        clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
    }
}

@keyframes moveArrow {
    from{
        transform: translateY(-23px);
    }
    to{
        transform: translateY(0);;
    }
}

@keyframes moveDown {
    from{
        transform: translateY(-100px);
    }
    to{
        transform: translateY(0);;
        opacity: 1;
    }

}